body {
  width: 900px;
  margin: 0 auto;
}

/*HEADER*/
header {
  height: 90px;
  padding-top: 30px;
  padding-bottom: 20px
}
header div .logo {
  display: inline-block;
  float: left;
}
header img {
  float: left;
  margin-right: 5px;
  padding-top: 3px;
  margin-bottom: 27px;
}
header h2 {
  font-family: Yellowtail;
  font-size: 40px;
  margin-left: -1px;
}
header h5 {
  text-transform: uppercase;
  font-family: Abel;
  font-size: 10px;
  color: #6d6d6d;
  margin-left: 3px;
  margin-top: -1px;
}
header li .icon {
  float: right;
  display: inline-block;
  margin-right: -3px;
  margin-top: 11px;
}
header #rss {
  margin-left: 8px;
}
header hr {
  padding-top: 2px;
  height: 8px;
  border: 0px;
  width: 900px;
  background: url("lab-assets/hr-11.png");
  /* using asset from https://codepen.io/ibrahimjabbari/pen/ozinB?editors=1100 */
}
/*MAIN*/



/*FOOTER*/
footer {
  height: 100px;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 10px;
  color: #c9c9c9;
  margin-top: 20px;
}
footer div.footer-1 {
  display: inline-block;
  float: left;
  width: 423px;
  border-bottom: 1px #eaeaea solid;
  padding-top: 15px;
}
footer img {
  display: inline;
  margin: 0px 6px 0px 10px;
}
footer div.footer-2 {
  display: inline-block;
  float: right;
  width: 423px;
  border-bottom: 1px #eaeaea solid;
  padding-top: 15px;
}
footer p.footer-text{
  margin-top: 25px;
}
footer p {
  margin: 6px;
}
