body {
  width: 900px;
  margin: 0 auto;
}

/*HEADER*/
header {
  height: 90px;
  border: 1px orange dashed;
  padding-top: 30px
}
header div .logo {
  display: inline-block;
  float: left;
}
header img {
  float: left;
  margin-right: 5px;
  padding-top: 3px;
}
header h2 {
  font-family: Yellowtail;
  font-size: 40px;
  margin-left: -1px;
}
header h5 {
  text-transform: uppercase;
  font-family: Roboto Condensed;
  font-size: 10px;
  color: #515151;
}
header li .icon {
  float: right;
  display: inline-block;
  margin-right: -3px;
  margin-top: 11px;
  
}
header #rss {
  margin-left: 8px;
}


/*MAIN*/



/*FOOTER*/
footer {
  height: 100px;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 10px;
  color: #c9c9c9;
  margin-top: 20px;
}
footer div.footer-1 {
  display: inline-block;
  float: left;
  width: 405px;
  border-bottom: 1px #eaeaea solid;
  margin-left: 20px;
  padding-top: 15px;
}
footer img {
  display: inline;
  margin: 0px 5px 0px 10px;
}
footer div.footer-2 {
  display: inline-block;
  float: right;
  width: 405px;
  border-bottom: 1px #eaeaea solid;
  margin-right: 20px;
  padding-top: 15px;
}
footer p.footer-text{
  margin-top: 25px;
}
footer p {
  margin: 6px;
}
