body {
  width: 900px;
  margin: 0 auto;
}

/*HEADER*/



/*MAIN*/
@import url('https://fonts.googleapis.com/css?family=Anton');

main {
  margin: 30px;
}

main h1 {
  font-family: 'Anton';
  font-size: 36px;
}

main h4 {
  font-family: sans;
  color: #888;
}


/*FOOTER*/
